.tiposTatoo-geral {
    background: black url('../../../public/assets/images/fundo.png') repeat-y;

    @font-face {
        font-family: 'angel';
        src: url('../../../public/assets/fonts/Angelrhapsody.ttf');
    }

    font-family: angel;

    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;

    .navigation {
        overflow: initial;
        overflow: hidden;

    }

    h2 {
        letter-spacing: 2px;
        color: #DB9F6A;
        font-size: 60px;
    }

    .slideitem {
        width: AUTO;
        height: 350px;
        object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: transparent;
        border-radius: 30px;
        padding: 35px;
        width: 1px;
        height: 1px;
    }

    .swiper-button-next {
        background: url('../../../public/assets/images/imgBtnDir.png') no-repeat;
    }

    .swiper-button-prev {
        background: url('../../../public/assets/images/imgBtnEsq.png') no-repeat;
    }
}