
@font-face {
    font-family: satoshi;
    src: url('../../../public/assets/fonts/Satoshi-Bold.otf');
}

.container-produtos::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}


.container-produtos::-webkit-scrollbar-thumb {
    background: #2A2A2A; 
    border-radius: 10px; 
}


.container-produtos::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}


.container-produtos::-webkit-scrollbar-thumb:hover {
    background: #2A2A2A; 
}

.storage-page {
    display: flex;
    flex-direction: row;
    background-color: black ;
    background-image: url('../../../public/assets/images/fundo.png');
    background-size: contain;
    color: aliceblue;
    height: 100vh;

  

    .button-section{
        display: flex;
        flex-direction: column;
        background-image: url('../../../public/assets/images/estoque/fundoStorage.png');
        background-repeat: no-repeat;
        width: 100%;
        max-width: 13vw;
        height: 100vh;
        align-items: center;
        background-size: contain;
    
        margin-right: 40px;
       
    }
    img{
        width: 100%;
        max-width: 10vw;
        height: 10vh;
        margin: 20px;
    
    }
    .butterfly{
        width: 20%;
        padding:20px;
    }

    .botao-agenda{
        width: 100%;
        max-width: 10vw;

        .escuro{
            background-color: #986845;
        }

        button {
            margin-bottom: 10px;
            width: 100%;
            max-width: 13vw;
            height: 5vh;
            border-radius: 4px;
            background-color: #EFA067;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: satoshi;
        }
        button:hover {
            background-color: #986845;
        }


    }
    
    .container-conteudo{
        width: 100%;
        max-width: 100vw;
        height: 100vh;

        
    
        display: flex;
        flex-direction: column;
    
        .storage-search{
            margin: 10px;
            width: 100%;
            max-width: 80vw;
            height: 20vh;
        
            display: flex;
            flex-direction: row;
            margin-top: 20px;
        
            .container-procurar{
                width: 100%;
                max-width: 100vw;
                display: flex;
                flex-direction: column;

                gap: 30px;

                .informacoes-procurar{
                    display: flex;
                    flex-direction: row;    
                    align-items: center;



                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        font-family: satoshi;
                    }

                    .botao-agenda{
                        margin-left: 27vw;

                        .new-product {
                            width: 150px;
                            height: 40px;
                            margin: 0;
                            padding-bottom:0 ;
                        }

                        .button-search{
                            border-radius: 0;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            height: 40px;
                            width: 100%;
                            max-width: 7vw;
                            padding-bottom: 0;
                            margin: 0;
                        
                        }
                }
                    
                }

                .informacoes-botoes-pesquisar{
                    display: flex;
                    flex-direction: row;

                    align-items: center;

                    justify-content: space-between;
                    
                    

                    .active {
                        background-color: #EFA067;
                        color: black;
                    }
                    .botoes{
                        display: flex;
                        flex-direction: row;

                        align-items: center;
                        justify-content: space-around;
                        background-color: white;

                        border-radius: 10px;
                        width: 100%;
                        max-width: 30vw;
                        height: 8vh;

                        button {
                            width: 100%;
                            max-width: 8vw;
                            height: 6vh;
                            border-radius: 4px;
                            border: none;
                            cursor: pointer;
                            transition: background-color 0.3s;
                        
                            font-family: satoshi;
                        }
                        button:hover {
                            background-color: #986845;
                        }
                    }


                    .search-product{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 10px;
                    }
                    
                    .search{
                        display: flex;
                        flex-direction: row;
    
                        input{
                            width: 350px;
                            padding: 10px;
                            border: none;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            background-color: #F2E4DA;
                        }
    
                        .botao-agenda{                       
                            .button-search{
                                border-radius: 0;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                height: 40px;
                                width: 100%;
                                max-width: 7vw;
                                padding-bottom: 0;
                                margin: 0;
                            
                            }
                    }

                }
        
                
                
                }
                
                
                
        
            }
        }
        
        .container-produtos{
            margin: 10px;
            width: 100%;
            max-width: 80vw;
            height: 100vh;
    
    
            display: flex;
            flex-direction: row;
            overflow-x: auto; 
            flex-wrap: wrap;
            scroll-behavior: smooth; 
            font-family: satoshi;
        }
        
    }
    
    
    
}

